@import url('https://fonts.cdnfonts.com/css/gotham');
                
body{
    font-family: 'Gotham', sans-serif;
    margin: 0px;
    padding: 0;
}
/*---------------------NAVBAR-------------------*/
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
}
#logo{
    width: 15%;
    height: 35px;
}
.location{
    width:20%;
    height: 20px;
    display: inline-flex;
}
#loc_icon{
    width: 30px;
    height: 32px;
}
.loc_content{
    height: 50px;
    display: flex;
    flex-direction: column;
    column-gap: 2px;
    font-size: small;
}
p,h4{
    margin: 0;
}
.navlinks{
    display:flex;
    width: 30%;
    justify-content:space-between;
}
.navlinks a{
    text-decoration: none;
    color: black;  
    font-size:medium;
    font-weight:500;
}
a:hover {
    color: #3A9B61;
  }
.search-container{
    width: 35%;
    height: 20px;
}
#search{
    position: absolute;
    left: 95vw;
    width: 20px;
}
/*---------------------Video content-------------------*/
.video-content{
    margin-top: 60px;
}
.main-video{  
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-image: url(images/main-video.gif);
    filter:brightness(50%);
}
.video-text{
    color: white;
    position: absolute;
    z-index:1;
    width: 25%;
    top: 40%;
    left: 500px;
    right: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.slogan{
display: flex;
flex-direction: row;
justify-content: space-between;
font-size: 40px;
font-weight:bolder;
}
#and{
color: #3A9B61;
font-size: xx-large;
align-items: center;
}
.slogan2{
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}
.button{
    margin: 15px;
    padding: 5px;
    width: 210px;
    height: 40px;
    background-color: #3a9b6177;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
}
.button:hover {
    font-size:medium;
  }
/*---------------------SLIDER-------------------*/
.slider-container {
  margin: 15px;
  position: relative;
}
.slider-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: large;
}
.vehicles-optionbar{
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin: 10px;
}
.vehicles-optionbar a{
  text-decoration: none;
  color: black;  
  font-size:small;
  font-weight:500;
}
.vehicles-optionbar a:hover {
  color: #3A9B61;
}
.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.slider.active {
  left: 0;
  opacity: 1;
}
.slider img {
  max-width: 100%;
  max-height: 100%;
}
.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.slider-controls button {
  padding: 10px;
  margin: 0 5px;
  font-size: 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0.507);
  cursor: pointer;
}
.slider-controls button:hover {
  background-color: #ddd;
}
.prev, .next{
   
    color: white;
}

.slider-controls i {
  font-size: 20px;
}
.compare-button{
text-align: center;
border-style: solid;
border-color: black;
border-radius: 5px;
padding: 10px;
position: relative;
left: 50px;
background-color: white;

}
/* ---------------footer---------------- */
.footer{
  padding: 15px;
  background-color: #202021;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo-copright{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-navlinks{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.footer-navlinks a{
  text-decoration: none;
  color: white;
}
.footer-logo{
  width: fit-content;
}
.footer-logo img{
  height: 30px;
  left: 50px;
}
#copyright{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
#copyright img{
  height: 15px;
}
#copyright p{
  color: white;
  font-size: small;
padding-left: 5px;
}
.social-details{
  display: flex;
  flex-direction: column;
  align-items: Left;
}
.social-icons{
  height: 20px;
}
.company-name{
  margin-top: 10px;
}
.company-name p{
color: white;
font-size: small;

}

