.footer{
    padding: 15px;
    background-color: #202021;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-logo-copright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-navlinks{
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .footer-navlinks a{
    text-decoration: none;
    color: white;
  }
  .footer-logo{
    width: fit-content;
  }
  .footer-logo img{
    height: 30px;
    left: 50px;
  }
  #copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }
  #copyright img{
    height: 15px;
  }
  #copyright p{
    color: white;
    font-size: small;
  padding-left: 5px;
  }
  .social-details{
    display: flex;
    flex-direction: column;
    align-items: Left;
  }
  .social-icons{
    height: 20px;
    padding: 5px;
  }
  .company-name{
    margin-top: 10px;
  }
  .company-name p{
  color: white;
  font-size: small;
  }