.navbar{
    margin-left: 14px;
    margin-right: 10px;
    width: calc(100% - 24px);
    height: 50px;
    top: 0;
    display: flex;
    flex-direction:row;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 10;
}
#logo{
    width: 15%;
    height: 35px;
}
.location{
    width:20%;
    height: 20px;
    display: inline-flex;
}
#loc_icon{
    width: 30px;
    height: 32px;
}
.loc_content{
    height: 50px;
    display: flex;
    flex-direction: column;
    column-gap: 2px;
    font-size: small;
}
p,h4{
    margin: 0;
}
.navlinks{
    display:flex;
    width: 30%;
    justify-content:space-between;
}
.navlinks a{
    text-decoration: none;
    color: black;  
    font-size:medium;
    font-weight:500;
}
.navlinks a:hover {
    color: #3A9B61;
  }
.search-container{
    width: 33%;
    height: 20px;
}
#search{
    position: absolute;
    left: 96vw;
    width: 20px;
}